{% extends 'main/layout.html' %}

{% block title %}Сотрудники{% endblock %}

{% block body %}
<div class="container">
    <div class="row row-head">
        <div class="col-md-2">
            <p>Фамилия</p>
        </div>
        <div class="col-md-1">
            <p>Имя</p>
        </div>
        <div class="col-md-2">
            <p>Отчество</p>
        </div>
        <div class="col-md-1">
            <p>Пол</p>
        </div>
        <div class="col-md-1">
            <p>Возраст</p>
        </div>
        <div class="col-md-2">
            <p>Должность</p>
        </div>
        <div class="col-md-1">
            <p>Категория</p>
        </div>
    </div>

    <div class="row">
        {% for row in data %}
            <div class="col-md-2">
                {{row.1}}
            </div>
            <div class="col-md-1">
                {{row.2}}
            </div>
            <div class="col-md-2">
                {{row.3}}
            </div>
            <div class="col-md-1">
                {{row.4}}
            </div>
            <div class="col-md-1">
                {{row.5}}
            </div>
            <div class="col-md-2">
                {{row.6}}
            </div>
            <div class="col-md-1">
                {{row.7}}
            </div>
            <div class="col-md-2">
                <form method="post" action="/editemployee/{{ row.0 }}">
                    {% csrf_token %}
                    <input type="hidden" name="edit_button" value="{{ row.0 }}">

                    <input type="hidden" name="employeeSurname" value="{{ row.1 }}">
                    <input type="hidden" name="employeeName" value="{{ row.2 }}">
                    <input type="hidden" name="employeePatronymic" value="{{ row.3 }}">
                    <input type="hidden" name="genderName" value="{{ row.4 }}">
                    <input type="hidden" name="employeeAge" value="{{ row.5 }}">
                    <input type="hidden" name="jobTitleName" value="{{ row.6 }}">
                    <input type="hidden" name="categoryName" value="{{ row.7 }}">

                    <button class="btn btn-outline-secondary" type="submit">Изменить</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}